body {
    margin: 0px;
    overflow-y: hidden;
}

.container {
    background-image: url(../bgs/bg-cs.svg);
    color: white;
    font-family: "Press Start 2P", "Pixelify Sans";
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}

.top {
    display: flex;
    align-items: center;
}

.left-container, .right-container{
    display: flex;
    flex-direction: column;
}

img.lc-clouds, img.rc-clouds {
    max-width: 50%;
}

img.lc-rocks, img.rc-rocks {
    max-width: 20%;
}

.mid-container {
    display: flex;
    flex-direction: column;
}

img.mc-star {
    max-width: 5%;
}

.heroes {
    display: flex;
}

img.hero {
    max-width: 20%;
}

img.mc-start {
    max-width: 10%;
}

img.rc-cloud {
    max-width: 20%;
}

.bottom {
    display: flex;
    max-width: -webkit-fill-available;
}