.outer-container {
    background-image: linear-gradient(180deg, #00a2ff, #6beffe);
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}

.inner-container {
    background-image: url(../bgs/bg-cs.svg);
    background-size: 132%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    color: white;
    font-family: "Press Start 2P", "Pixelify Sans";
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}