body {
    margin: 0px;
    overflow-y: hidden;
}

.landing-page {
    background-color: black;
    color: white;
    font-family: "Press Start 2P", "Pixelify Sans";
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}

.start-game {
    display: flex;
    flex-direction: column;
}

button.next-page {
    font-family: "Press Start 2P", "Pixelify Sans";
}